<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Ime*</mat-label>
        <input formControlName="name" matInput />
        <mat-error>The name field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Datum rezervacije</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    

    <h4>Ovdje nam napišite svoje specijalne želje i tačno vrijeme rezervacije</h4>

    <app-input-markdown 
    [markdownContent]="model?.biography"
    [label]="'Specijalne želje'"
    (changeMarkdown)="changeMarkdown($event)"></app-input-markdown>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Rezerviši</button>
        <a mat-stroked-button routerLink="/actors">Odustani</a>
    </div>
</form>